.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* STARTING MY CSS */
nav {
  margin-top: 25px;
  margin-bottom: 50px;
}


nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px;
  text-decoration: none;
  background-color: lightblue;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: white;
  background: blue;
}

nav a.active {
  color: white;
  background: blue;
}


.card {
  text-align: center;
  border: rgb(60, 60, 60) solid 1px;
  border-radius: 15px;
  padding: 10px;
  width: 400px;
  height: 300px;
  display: inline-grid;
  margin: 10px 10px; 
}

.card-image {
  justify-self: center;
  height: 150px;
  width: auto;
}

.breakline {
  margin-top: 30px;
  margin-bottom: 25px;
  max-width: 80%
}

.formToggleButton {
  padding: 10px 20px;
  margin: 30px;
  background-color: lightblue;
  font-size: 20px;
  border: none;
  /* color: black; */
  border-radius: 10px;
  text-decoration: none;
}

.formToggleButton:hover {
  background-color:blue;
  color: white;
}

.formContainer {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 400px;
  border: rgb(60, 60, 60) solid 1px;
  border-radius: 15px;
}

.projectForm {
  margin-bottom: 50px;
}

.projectForm div {
  margin-bottom: 20px;
}

.projectForm span{
  padding: 20px;
}

.projectForm input {
  border-radius: 4px;
  padding: 10px;
}

.projectForm Button {
  padding: 10px 20px;
  margin: 10px;
  background-color: lightblue;
  font-size: 20px;
  border: none;
  color: black;
  border-radius: 10px;
  text-decoration: none;
}

.projectForm Button:hover {
  background-color:blue;
  color: white;
}
